{% extend layout %}

{% insert title %}{{ title }}{% end %}

{% insert content %}
<div class="card mb-4 shadow-sm">
    <div class="card-header"><h4 class="my-0 fw-normal">{{ formattedDate }}</h4></div>
    <div class="card-body">
        <h1 class="card-title"><small class="text-muted">Estimated finish </small>{{ formattedCurrentFinishingTime }}
        </h1>
        <p class="card-text">Time worked: {{ formattedTimeWorked }}</p>
        <div class="progress" style="height: 30px;">
            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="{{ percentageWorked}}"
                 class="progress-bar" role="progressbar" style="width: {{ percentageWorked }}%;">{{ percentageWorked }}%
            </div>
        </div>
    </div>
</div>
{% end %}
